@import url('~assets/scss/typography.scss');
@import url('~assets/scss/scale-type.scss');
@import url('~assets/scss/scale-space.scss');
@import url('~assets/scss/colours.scss');
@import url('~assets/scss/utilities.scss');

:root {
  color: var(--colour-text-body);
  font-family: var(--fontBody);
  font-size: var(--step-0);
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a,
em {
  color: var(--colour-text-body);
  font-family: var(--fontDisplay);
  font-style: normal;
  font-weight: bold;

  &:visited {
    color: var(--colour-text-body);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontDisplay);
}
